In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

READ

In [3]:
match_df = pd.read_csv("E:\VSCode\Projects\T20 Prediction\matches.csv")
match_df.sample(10)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
602,603,IPL-2016,Hyderabad,30-04-2016,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,15,0,DA Warner,"Rajiv Gandhi International Stadium, Uppal",AK Chaudhary,HDPK Dharmasena,NaN
276,277,IPL-2011,Mumbai,04-05-2011,Mumbai Indians,Pune Warriors,Pune Warriors,field,normal,0,Mumbai Indians,21,0,R Sharma,Dr DY Patil Sports Academy,HDPK Dharmasena,SJA Taufel,NaN
505,506,IPL-2014,Kolkata,22-05-2014,Kolkata Knight Riders,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Kolkata Knight Riders,30,0,RV Uthappa,Eden Gardens,AK Chaudhary,CK Nandan,NaN
344,345,IPL-2012,Delhi,29-04-2012,Delhi Daredevils,Rajasthan Royals,Delhi Daredevils,bat,normal,0,Delhi Daredevils,1,0,V Sehwag,Feroz Shah Kotla,S Ravi,RJ Tucker,NaN
418,419,IPL-2013,Raipur,28-04-2013,Delhi Daredevils,Pune Warriors,Pune Warriors,field,normal,0,Delhi Daredevils,15,0,DA Warner,Shaheed Veer Narayan Singh International Stadium,CK Nandan,S Ravi,NaN
561,562,IPL-2015,Mumbai,10-05-2015,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,39,0,AB de Villiers,Wankhede Stadium,JD Cloete,C Shamshuddin,NaN
435,436,IPL-2013,Chandigarh,09-05-2013,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,normal,0,Rajasthan Royals,0,8,KK Cooper,"Punjab Cricket Association Stadium, Mohali",HDPK Dharmasena,S Ravi,NaN
367,368,IPL-2012,Kolkata,14-05-2012,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,5,MEK Hussey,Eden Gardens,JD Cloete,SJA Taufel,NaN
359,360,IPL-2012,Mumbai,09-05-2012,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,9,CH Gayle,Wankhede Stadium,BF Bowden,VA Kulkarni,NaN
476,477,IPL-2014,NaN,30-04-2014,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus,NaN

In [4]:
match_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

In [7]:
dlvr_df = pd.read_csv("E:\VSCode\Projects\T20 Prediction\deliveries.csv")
dlvr_df.sample(10)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
131890,556,2,Mumbai Indians,Delhi Daredevils,16,8,AT Rayudu,KA Pollard,A Mishra,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
131961,557,1,Royal Challengers Bangalore,Kings XI Punjab,8,5,V Kohli,CH Gayle,GJ Maxwell,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
96400,407,2,Royal Challengers Bangalore,Rajasthan Royals,2,5,TM Dilshan,CH Gayle,S Sreesanth,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
170966,11317,2,Delhi Capitals,Kolkata Knight Riders,3,1,S Dhawan,P Shaw,P Krishna,0,...,0,0,0,0,6,0,6,NaN,NaN,NaN
15839,68,1,Deccan Chargers,Rajasthan Royals,16,6,A Symonds,RG Sharma,SK Warne,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
141299,597,2,Kings XI Punjab,Mumbai Indians,18,3,NS Naik,DA Miller,JJ Bumrah,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
173330,11327,1,Mumbai Indians,Rajasthan Royals,12,5,Q de Kock,AS Yadav,JD Unadkat,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
12733,54,2,Rising Pune Supergiant,Kings XI Punjab,10,3,SPD Smith,AM Rahane,GJ Maxwell,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
46845,199,1,Mumbai Indians,Deccan Chargers,9,2,SR Tendulkar,AT Rayudu,PP Ojha,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
25338,109,2,Delhi Daredevils,Mumbai Indians,7,3,MK Tiwary,S Dhawan,A Nel,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [8]:
dlvr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

## Total Score in Innings

In [17]:
id_wise_info = dlvr_df.groupby(['match_id','inning']).sum()
id_wise_info.head(10)

                 over  ball  is_super_over  wide_runs  bye_runs  legbye_runs  \
match_id inning
1        1       1312   456              0          5         0            1
         2       1259   444              0          4         0            1
2        1       1323   455              0          6         1            1
         2       1270   435              0          3         0            1
3        1       1280   434              0          2         0            2
         2        776   359              0         11         4            0
4        1       1325   457              0          5         0            1
         2       1223   459              0          9         0            1
5        1       1297   448              0          4         0            2
         2       1290   449              0          4         0            1

                 noball_runs  penalty_runs  batsman_runs  extra_runs  \
match_id inning
1        1                 1             0           200           7
         2                 1             0           166           6
2        1                 0             0           176           8
         2                 0             0           183           4
3        1                 0             0           179           4
         2                 0             0           169          15
4        1                 0             0           157           6
         2                 0             0           154          10
5        1                 0             0           151           6
         2                 0             0           137           5

                 total_runs
match_id inning
1        1              207
         2              172
2        1              184
         2              187
3        1              183
         2              184
4        1              163
         2              164
5        1              157
         2              142

In [19]:
inn_score = id_wise_info.total_runs.reset_index()
inn_score

      match_id  inning  total_runs
0            1       1         207
1            1       2         172
2            2       1         184
3            2       2         187
4            3       1         183
...        ...     ...         ...
1523     11413       2         170
1524     11414       1         155
1525     11414       2         162
1526     11415       1         152
1527     11415       2         157

[1528 rows x 3 columns]

## Scores in 1st Innings

In [20]:
inn_score_first = inn_score[inn_score.inning == 1]
inn_score_first

      match_id  inning  total_runs
0            1       1         207
2            2       1         184
4            3       1         183
6            4       1         163
8            5       1         157
...        ...     ...         ...
1518     11347       1         143
1520     11412       1         136
1522     11413       1         171
1524     11414       1         155
1526     11415       1         152

[756 rows x 3 columns]

## Merging match_df with inn_score_first on match_id

In [22]:
merged_match_df = match_df.merge(inn_score_first[['match_id','total_runs']], left_on='id', right_on='match_id')
merged_match_df.head(10)

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157
5,6,IPL-2017,Hyderabad,09-04-2017,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,9,Rashid Khan,"Rajiv Gandhi International Stadium, Uppal",A Deshmukh,NJ Llong,NaN,6,135
6,7,IPL-2017,Mumbai,09-04-2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,N Rana,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,7,178
7,8,IPL-2017,Indore,10-04-2017,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,normal,0,Kings XI Punjab,0,8,AR Patel,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,8,148
8,9,IPL-2017,Pune,11-04-2017,Delhi Daredevils,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Delhi Daredevils,97,0,SV Samson,Maharashtra Cricket Association Stadium,AY Dandekar,S Ravi,NaN,9,205
9,10,IPL-2017,Mumbai,12-04-2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,4,JJ Bumrah,Wankhede Stadium,Nitin Menon,CK Nandan,NaN,10,158

In [24]:
mergmerged_match_df['team1'].unique()

KeyError: "None of [Index(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',\n       'Rising Pune Supergiant', 'Royal Challengers Bangalore',\n       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',\n       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',\n       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',\n       'Delhi Capitals'],\n      dtype='object')] are in the [columns]"

In [ ]:
merged_match_df['team1'] = merged_match_df['team1'].str.replace('Decan Chargers', ' Sunrisres Hyderabad')

## D/L Method

merged_df['dl_applied].value_counts()